#totop{
  width:0px;
  height:0px;
  font-size:0px;
  position: fixed;
  bottom: 3%;
  right: 2%;
}

#totop.big{
  color: black;
  font-size:4em;
  bottom: 18%;
  right: 4.5%;
}

#totop.big:hover{
   color: red;
}

#totop.small{
  display: none;
}

